@import '../../scss/app.scss';

.loader {
  @include flex($justify-content: center);
  flex-direction: column;
  height: 100vh; 

  &__image {
    animation: rotate 1s linear infinite;
    margin: 0 auto;
    width: 180px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
