.main-container {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  height: 75vh;
  max-width: 100%;
  overflow-x: scroll;

  @media (min-width: 688px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: auto;
    padding: 20px 50px;
    max-width: auto;
  }

  @media (min-width: 768px) {
  grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
