@import '../../scss/app.scss';

.main-container {
  @include flex($align-items: center);
  background-color: $white;
  box-sizing: border-box;
  height: 75vh;
  max-width: 100%;
  overflow-x: scroll;

  @media (min-width: $x-small) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: auto;
    padding: 20px 50px;
    max-width: auto;
  }

  @media (min-width: $small) {
  grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $middle) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $big) {
    grid-template-columns: repeat(5, 1fr);
  }
}
