.card {
  width: 100%;
  flex: none;
  text-align: center;
  position: relative;

  &:last-of-type {
    margin-right: 0;
  }

  &__container {
    width: 90%;
    margin: 0 auto;
    padding: 15px 15px 25px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 10px;
    max-width: 400px;
  }

  &__image {
    max-width: 90%;
    height: auto;
    margin: 0 auto 20px;
  }

  &__title,
  &__id {
    font-family: 'Lato', sans-serif;
  }

  &__title {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
  }
}
