@import '../../scss/app.scss';

.card {
  flex: none;
  position: relative;
  text-align: center;
  width: 100%;

  &:last-of-type {
    margin-right: 0;
  }

  &__container {
    background-color: $white-two;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 360px;
    padding: 40px 15px;
    transition: background-color .5s ease-in-out;
    width: 90%;

    &:hover {
      background-color: darken($white-two, 20%);
    }

    @media (min-width: $x-small) {
      background-color: transparent;
      max-width: none;
      transition: box-shadow .5s ease-in-out;
      width: 100%;

      &:hover {
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .card__image {
          transform: scale(.7) translateY(-80px);
        }

        .card__nav {
          bottom: 135px;
          opacity: 1;
        }
      }
    }
  }
  
  &__image {
    height: auto;
    margin: 0 auto 20px;
    max-width: 80%;
    transition: all 1s ease-in-out;
  }

  &__nav {
    margin-bottom: 20px;

    @media (min-width: $x-small) {
      bottom: 95px;
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      transition: all 1s ease-in-out;
      width: 100%;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    font-size: 40px;
    outline: 0;

    &:hover {
      cursor: pointer;

      .card__button-icon {
        color: $red;
      }
    }
  }
  
  &__button-icon {
    transition: all 1s ease-in-out;
  }

  &__text {
    color: $black;
    font-family: $default-font;
    font-size: 22px;
    font-weight: 300;
    line-height: 0;
    text-transform: capitalize;
    
    &--bold {
      font-weight: 700;
    }
  }

  &__list {
    @include flex($justify-content: center);
    gap: 10px;
    margin-top: 30px;
  }

  &__list-item {
    background-color: $red;
    border-radius: 8px;
    color: $white;
    font-family: $default-font;
    font-weight: 300;
    line-height: 0;
    padding: 15px 15px;
  }
}
