@import '../../scss/app.scss';

.modal {
  background-color: $white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__container {
    @include flex($align-items: center, $justify-content: center);
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }

  &__image {
    margin-bottom: 20px;
    max-width: 200px;
  }

  &__name {
    @include flex($justify-content: center);
    color: $black;
    font-family: $default-font;
    font-size: 40px;
    font-weight: 300;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  &__name-icon {
    animation: huntedIcon 1s linear infinite;
    margin-left: 5px;
    position: relative;
    top: 5px;
  }

  &__section-title {
    font-family: $default-font;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__info {
    max-width: 500px;
    width: 90%;
  }

  &__section-list {
    @include flex($justify-content: center);
    gap: 10px;
    margin-bottom: 30px;
  }


  &__section-list-item {
    background-color: $red;
    color: $white;
    font-family: $default-font;
    font-weight: 300;
    padding: 5px 10px;
    border-radius: 8px;
  }

  &__stat {
    @include flex($align-items: center);
    font-family: $default-font;
    font-weight: 300;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

    &__stat-name,
    &__stat-number {
      margin-right: 15px;
    }

  &__stat-name {
    min-width: 109px;
    text-align: left;
  }

  &__stat-bar {
    background-color: $red;
    display:block;
    height: 3px;
    position: relative;

    &-container {
      background-color: $black;
      height: 3px;
      width: 100%;
    }
  }

  &__close {
    cursor: pointer;
    font-size: 45px;
    margin-top: 80px;
    transition: color 1s ease-in-out;

    @media (min-width: $x-small) {
      &:hover {
        color: $red;
      }
    }
  }
}


@keyframes huntedIcon {
  0%,
  100% {
    color: $red;
  }

  50% {
    color: $black;
  }
}
