@import '../../scss/app.scss';

.header {
  background-color: $red;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  &__logo {
    font-family: $secondary-font;
    color: $white;
    font-size: 39px;
  }

  &__counter {
    background-color: $white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 3px 25px;
  }

  &__counter-icon {
    font-size: 33px;
    margin-right: 5px;
  }

  &__counter-number {
    font-family: $default-font;
    font-weight: 300;
  }
}
