@import '../../scss/app.scss';

.header {
  @include flex($justify-content: space-between);
  background-color: $red;
  padding: 15px 50px;
  width: 100%;
  box-sizing: border-box;

  &__logo {
    font-family: $secondary-font;
    color: $white;
    font-size: 39px;
  }

  &__counter {
    @include flex();
    background-color: $white;
    border-radius: 10px;
    padding: 3px 25px;
  }

  &__counter-icon {
    font-size: 33px;
    margin-right: 5px;
  }

  &__counter-number {
    font-family: $default-font;
    font-weight: 300;
  }
}
