//colors
$red: #fb1b1b;
$black: #000;
$white: #fff;

// fonts
$default-font: 'Lato', sans-serif;
$secondary-font: 'Bebas Neue', cursive;

// media queries
$x-small: 688px;
$small: 768px;
$middle: 992px;
$big: 1200px;

